html {
    touch-action: none;
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

.bar {
    position: absolute;
    background: #6cf;
}

.pos {
    height: 0%;
    background: #eee;
}

.debug {
    margin: 0px;
}

.detect {
    position: absolute;
    height: 100%;
    width: 100%;
    background: none;
}

#throttle {
    height: 80%;
    width: 40%;

    top: 10%;
    bottom: 10%;
    left: 20%;
}

#zoom {
    height: 40%;
    width: 10%;

    bottom: 10%;
    right: 10%;
}

#quit {
    position: absolute;
    border: none;
    right: 10%;
    top: 10%;
    width: 10vw;
    height: 10vw;
}